table  {
	width: 220px;
	margin: 0 auto;
}

table tr {

}

table tr td {

}

table tr td:first-child {
	width: 200px;
}

table tr td:last-child {
	width: 20px;
}

button {
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: pointer;
}