table#table-1,
table#table-2,
.result  {
	width: 220px;
	margin: 0 auto;
}

.result {
	display: none;
}

table#table-1 tr td:first-child {
	width: 200px;
}

table#table-1 tr td:last-child {
	width: 20px;
}

button {
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: pointer;
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	width: 220px;
	margin: 0 auto;
	margin-top: 20px;
}